body 
	background: url('../img/session_02.jpg')
	// background-color: transparentize(#000000,0)
	background-repeat: no-repeat
	background-position: center center
	background-attachment: fixed
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover

.navbar-default
	background-color: transparentize(#000000,1)
	border-color: transparentize(#000000,1)

.navbar-default .navbar-nav>li
	margin-right: 20px

.navbar-default .navbar-nav>li>a 
	color: #f2f2f2
	margin-bottom: -10px

// .navbar-default .navbar-nav>li .login
// 	color: #00bda9

.navbar-default .navbar-nav>li>a:hover 
	font-weight: bold
	color: white
	border-bottom: 1px solid #00bda9

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus 
	font-weight: bold
	color: white
	border-bottom: 1px solid #00bda9


.navbar-brand>img
	height: 600%
	margin-top: -55px

.navbar .divider-vertical 
	height: 50px
	margin: 0 9px
	border-right: 1px solid #ffffff
	border-left: 1px solid #f2f2f2

.body-container
	color: white

#body-left>h3
	font-size: 50px

#body-left>h3>#static_text


#body-right
	background-color: transparentize(#ffffff, 0.8)
	padding: 20px
	border-radius: 25px
	font-size: 20px

#body-right>row>button
	border: 0px
	border-radius: 5px
	background-color: transparentize(#00bda9,0.0)
