<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style_login.css">
	<link rel="icon" type="image/png" href="../static/img/xLogo.png" />
	<title>Ingreso | Apalax TI</title>
</head>
<body>
	<br><br><br><br><br><br>
	<div class="container col-md-offset-1" align="left" style="">
		<div class="row col-md-12 col-md-offset-1" style="">
			<div id="form-signIn" class="col-md-5" style="background-color: rgba(255,255,255,0.7);padding-top: 50px">
				<form style="padding: 40px">
					<div class="col-md-12">
						<div class="row">
							<label style="margin-left: 35px;font-size: 20px">Inicia Sesi&oacute;n</label>
						</div>
						<br>
						<div class="form-group">
							<input id="txtIdExterno" type="text" class="form-control" placeholder="Username" style="border-radius: 20px;height: 40px;padding-left: 20px;margin-bottom: 20px"/>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<input id="password" type="text" class="form-control" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" style="border-radius: 20px;height: 40px;padding-left: 20px;margin-bottom: 20px"/>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<button class="btn" style="border-radius: 20px;background-color: #2E9AFE;color: #ffffff;width: 100%;height: 40px;margin-bottom: 20px">Iniciar Sesi&oacute;n</button>
						</div>
					</div>
					<div class="col-md-12" style="margin-top: -25px;margin-bottom: 90px">
						<a href="">¿Olvidaste tu contrase&ntilde;a?</a>
					</div>
				</form>
			</div>
			<br>
			<div id="form-signUp" class="col-md-5" style="background-color: rgba(46,154,254,0.2);color: #ffffff;padding-top: 50px">
				<form style="padding: 40px">
					<div class="col-md-12">
						<label style="font-size: 20px">Inscr&iacute;bete</label>
					</div>
					<div class="col-md-12">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci expedita eligendi, aut maiores assumenda dolore sapiente, fugit asperiores placeat harum blanditiis possimus consequuntur sed magnam nostrum quas accusamus cumque labore!</p>
					</div>
					<div class="col-md-12">
						<button class="btn" style="border-radius: 20px;border:solid rgba(46,154,254,1);background-color: rgba(46,154,254,0.0);color: #ffffff;width: 40%;height: 40px;margin-bottom: 90px">Inscribirme</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>